<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Portal | Create Event</title>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/userHome">Home</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Student Portal</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Create New Event</h1>
        <form class="form-signin" action="/createEvent" method="post">
        <label for="inputEventname" class="sr-only">Event Name</label>
        <input type="name" id="inputEventname" name="inputEventname" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEventlink" class="sr-only">Link</label>
        <input type="text" id="inputEventlink" name="inputEventlink" class="form-control" placeholder="Roll No" required autofocus>
        <label for="inputEventtype" class="sr-only">Event type</label>
        <input type="text" id="inputEventtype" name="inputEventtype" class="form-control" placeholder="Roll No" required autofocus>
        <label for="inputEventdatetime" class="sr-only">Date/Time</label>
        <input type="datetime-local" id="inputEventdatetime" name="inputEventdatetime" class="form-control"required>
         
        <button id="btnCreateEvent" class="btn btn-lg btn-primary btn-block" type="submit">Create event</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>

    <script type="text/javascript">
    //   $(function() {
    //     $('#btnSignUp').click(function() {
     
    //         $.ajax({
    //             url: '/signUp',
    //             data: $('form').serialize(),
    //             type: 'POST',
    //             success: function(response) {
    //                 console.log(response);
    //             },
    //             error: function(error) {
    //                 console.log(error);
    //             }
    //         });
    //     });
    // });
    </script>
  </body>
</html>